@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.678),
    rgba(22, 9, 29, 0.863)
  );

  --image-gradient2: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.678),
    rgba(23, 9, 31, 0.863)
  );

  --imp-text-color: orange;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /*background-color: black;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#comments{
  outline: none;
}



@media (min-width: 430px) {
  .hide {
      margin-left: 24rem/* 384px */;
  }
}


.checkbox {
  opacity: 0;
  position: absolute;
  
}

.label {
  width: 50px;
  height: 20px;
  background-color:transparent;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.2);
 cursor: pointer;
  
}

.ball {
  width: 25px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}





